lecturevid2/wwwroot/Schemas/Products.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"> 
	<xs:element name="Products"> 
		<xs:complexType> 
			<xs:sequence> 
				<xs:element name="Product" maxOccurs="unbounded"> 
					<xs:complexType> 
						<xs:sequence> 
							<xs:element name="Id" type="xs:int"/> 
							<xs:element name="Name" type="xs:string"/> 
							<xs:element name="Price" type="xs:decimal"/> 
						</xs:sequence> 
					</xs:complexType> 
				</xs:element> 
			</xs:sequence> 
		</xs:complexType> 
	</xs:element> 
</xs:schema>